body {
    font-family: Verdana, sans-serif;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    letter-spacing: 5px;
}

h2 {
    margin-top: 80px;
    text-transform: uppercase;
    text-decoration: underline solid 4px #829170;
}

h2::first-letter {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

header {
    text-align: center;
}

nav a {
    color: #829170;
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

#El_restaurant p {
    line-height: 2;
}

mark {
    background-color: #d7dbd2e0;
}

dl {
    display: inline-block;
    /*¿¿¿¿¿una alineació vertical a la part superior????  AIXO NO ENTENC QUE VOL DIR, ES LA PRIMERA VEGADA QUE HO ESCOLTO. NO SE SI ES AIXO:*/
    vertical-align: top;
    margin-top: 0px;
    margin-left: 20px;
}

dt {
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 5px;
}

dd {
    margin-right: 0px;
    margin-bottom: 15px;
}