body {
    font-family: Verdana, sans-serif;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    letter-spacing: 5px;
}

h2 {
    margin-top: 80px;
    text-transform: uppercase;
    text-decoration: underline solid 4px #829170;
}

h2::first-letter {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

header {
    text-align: center;
}

nav a {
    color: #829170;
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

#El_restaurant p {
    line-height: 2;
}

mark {
    background-color: #d7dbd2e0;
}

dl {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 20px;
}

dt {
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 5px;
}

dd {
    margin-left: 0px;
    margin-bottom: 15px;
}

input,
select,
textarea {
    border: 1, 5px solid black;
    border-radius: 4px;
    padding: 8px;
}

input[type=text]:focus,
[type=tel]:focus,
[type=email]:focus,
[type=number]:focus,
[type=date]:focus,
[type=time]:focus,
select:focus,
textarea:focus {
    background-color: #d7dbd2e0;
}

input[type=submit] {
    padding: 10px;
    background-color: #d7dbd2e0;
    cursor: pointer;
    font-weight: bold;
}

#equip figure {
    display: inline-block;
}

#footer address {
    margin-bottom: 40px;
}

#footer a {
    color: #829170;
}

.copyright,
.inici {
    margin-bottom: 40px;
}

.copyright strong {
    font-size: 12px;
}

/*Utilitzant un selector combinador per tots els elements strong dins de l’element que té per classe copyright,
defineix la mida del text a 10px.*/
.copyright strong {
    font-size: 10px;
}

details ul {
    font-size: 14px;
}

details ul>li {
    margin-bottom: 0px;
}